/* Reset styles  */
* {
  /* Positions */
  margin: 0;
  padding: 0;
  /* Fonts */
  font-weight: normal;
  font-family: sans-serif;
  line-height: 1.7rem;
  color: #000;
  /* Text decorations */
  text-decoration: none;
  list-style: none;
  /* Calculations */
  box-sizing: border-box;
}
html {
  font-size: 0.9375vmax;
}
body {
  text-align: center;
}
.wrapper {
  width: 60%;
  margin: 0 auto;
}
img {
  width: 100%;
}
* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  line-height: 2rem;
}
html {
  scroll-behavior: smooth;
}
a,
button {
  transition: all 0.25s ease;
}
input {
  transition: all 0.3s ease-in;
}
section {
  transition: all 0.3s ease;
}
section::before {
  transition: all 0.2s ease-in;
}
section .content h1 {
  transition: all 0.25s ease-in;
}
div.img {
  transition: all 1.2s ease-in;
}
a.btn,
button {
  border: none;
  display: inline-block;
  padding: 0.5rem 1.8rem;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 4px;
  color: #ddd;
  background-color: #f0650d;
  border-bottom: 4px solid #c0510a;
  transition: all 0.3s ease;
}
a.btn:hover,
button:hover {
  background-color: #f48037;
  cursor: pointer;
}
a.btn.home,
button.home {
  background-color: #5a6c79;
  border-bottom: 4px solid #3a454e;
}
a.btn.home:hover,
button.home:hover {
  background-color: #6c8191;
  cursor: pointer;
}
div.img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section {
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4b5a65;
  filter: blur(0px);
  opacity: 0.8;
  z-index: 5;
}
section * {
  text-align: center;
  color: #ddd;
}
section .content {
  z-index: 10;
}
body {
  position: relative;
}
body.stopScroll {
  overflow: hidden;
}
#overlay {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 10;
  cursor: pointer;
}
#overlay.opened {
  opacity: 0.7;
  visibility: visible;
}
#modalOrder {
  width: 40%;
  background-color: #ddd;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
  z-index: 30;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
#modalOrder.opened {
  opacity: 1;
  visibility: visible;
}
#modalOrder form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}
#modalOrder form > * {
  width: 90%;
  margin: 0.8rem;
}
#modalOrder form input,
#modalOrder form textarea {
  padding: 0.9rem 1.0rem;
  font-size: 1rem;
  font-style: italic;
  border: none;
  background-color: #566774;
  color: #ddd;
  resize: none;
}
#modalOrder form input::placeholder,
#modalOrder form textarea::placeholder {
  color: #7a8e9c;
}
#modalOrder form input:focus,
#modalOrder form textarea:focus {
  background-color: #ddd;
  color: #000;
}
#modalOrder form button {
  width: 10rem;
  margin-right: 0;
  padding: 0.5rem 1rem;
}
header {
  padding: 1rem 0;
  background-color: #4b5a65;
}
header .wrapper nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
header .wrapper nav a.btn * {
  color: #ddd;
}
header .wrapper nav a.btn svg {
  margin-left: 5px;
}
div.blog {
  padding-top: 2.2rem;
  position: relative;
}
div.blog::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  background-color: #4682B4;
  opacity: 0.1;
  content: "";
}
div.blog * {
  color: #333;
  line-height: 1.3rem;
}
div.blog .wrapper h2 {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
}
div.blog .wrapper div.gridSecond {
  display: grid;
  grid-template-areas: "gridS1 gridS2 gridS3" "gridS4 gridS5 gridS6";
  grid-gap: 2rem;
}
div.blog .wrapper div.gridSecond > section {
  justify-content: flex-start;
  background-color: #e5e5e5;
  cursor: pointer;
  border: 1px groove #eee;
}
div.blog .wrapper div.gridSecond > section::before {
  all: unset;
}
div.blog .wrapper div.gridSecond > section:hover {
  background-color: #ececec;
  transform: scale(1.03);
  box-shadow: 5px 5px 3px #ccc;
}
div.blog .wrapper div.gridSecond > section div.img {
  width: 100%;
  height: 270px;
  background-position: top left;
}
div.blog .wrapper div.gridSecond > section div.text {
  margin: 20px 0;
}
div.blog .wrapper div.gridSecond > section div.text h3 {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 1.2rem;
  font-weight: bold;
}
div.blog .wrapper div.gridSecond > section div.text p {
  padding: 1rem;
  font-size: 1rem;
}
div.blog .wrapper div.gridSecond > section.gridS1 {
  grid-area: gridS1;
}
div.blog .wrapper div.gridSecond > section.gridS2 {
  grid-area: gridS2;
}
div.blog .wrapper div.gridSecond > section.gridS3 {
  grid-area: gridS3;
}
div.blog .wrapper div.gridSecond > section.gridS4 {
  grid-area: gridS4;
}
div.blog .wrapper div.gridSecond > section.gridS5 {
  grid-area: gridS5;
}
div.blog .wrapper div.gridSecond > section.gridS6 {
  grid-area: gridS6;
}
div.blog .wrapper button {
  margin: 2.5rem 0;
  padding: 0.7rem 2.8rem;
  color: #ddd;
}
footer {
  background-color: #4b5a65;
}
footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
footer .wrapper > * {
  text-transform: uppercase;
  font-weight: bolder;
}
footer .wrapper span {
  font-size: 0.9rem;
  color: #848484;
}
footer .wrapper span > a {
  color: #b7b7b7;
}
footer .wrapper span > a:hover {
  color: #d0d0d0;
}
footer .wrapper div.text h3 {
  font-size: 1.3rem;
  color: #848484;
}
footer .wrapper div.text h2 {
  font-size: 1.6rem;
  color: #b7b7b7;
}
footer .wrapper div.text span {
  font-size: 1.5rem;
  color: #848484;
  letter-spacing: 0.2rem;
}
@media (max-width: 1550px) {
  html {
    font-size: 1.1vmax;
  }
  div.blog .wrapper div.gridSecond {
    grid-template-areas: "gridS1 gridS2" "gridS3 gridS4" "gridS5 gridS6";
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 1.3vmax;
  }
}
@media (max-width: 1100px) {
  html {
    font-size: 1.4vmax;
  }
  .wrapper {
    width: 60%;
  }
  #modalOrder {
    width: 70%;
  }
  div.blog .wrapper div.gridSecond {
    grid-template-areas: "gridS1" "gridS2" "gridS3" "gridS3" "gridS4" "gridS4" "gridS5" "gridS6";
  }
}
@media (max-width: 800px) {
  html {
    font-size: 1.6vmax;
  }
  .wrapper {
    width: 80%;
  }
  #modalOrder {
    width: 80%;
  }
}
@media (max-width: 640px) {
  .wrapper {
    width: 90%;
  }
}
